@model WebApplication.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingId" class="control-label"></label>
                <select asp-for="BookingId" class ="form-control" asp-items="ViewBag.BookingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IncomingPaymentReference" class="control-label"></label>
                <input asp-for="IncomingPaymentReference" class="form-control" />
                <span asp-validation-for="IncomingPaymentReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomingPaymentStatus" class="control-label"></label>
                <input asp-for="IncomingPaymentStatus" class="form-control" />
                <span asp-validation-for="IncomingPaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceStatus" class="control-label"></label>
                <input asp-for="InvoiceStatus" class="form-control" />
                <span asp-validation-for="InvoiceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
