@* Initialize Leaflet Map and set the view with Denmark's coordinates *@

<div id="mapid" style="height: 600px"></div>
<script src="~/js/leaflet_map.js"></script>
<script src="~/js/leaflet_methods.js"></script>
<script>mymap.setView([56.2639, 9.5018], 7)</script>

@* End of initialization *@