@* This is what we'll use to create the map div, this will allow to change height, change style etc. "globally" *@
@* Form uses its own divs because it needs two on one page *@
<div id="map" class="leaflet-map-div"></div>
