@model WebApplication.Models.Booking

<div id="mapid" style="height: 600px"></div>
<script>
    var mymap
    var marinaMarkers;
    $(function () {
        mymap;
        mymap = InitMap(mymap, 'mapid');
        mymap.setView([56.2639, 9.5018], 7)
        marinaMarkers = L.layerGroup().addTo(mymap);
    });

    function RenderMarinas(marinas) {
        marinaMarkers.clearLayers();
        marinas.forEach(marina => {
            if (marina.Location) {
                MarinaBookingPrompt(marina, 5)
            }
        })
    }
</script>