@model WebApplication.Models.Booking

<div id="mapidspot" style="height: 600px"></div>
<script>
    var mymapspot;
    var spotMarkers;
    $(function () { 
        mymapspot;
        mymapspot = InitMap(mymapspot, 'mapidspot');
        mymapspot.setView([56.2639, 9.5018], 7)
        spotMarkers = L.layerGroup().addTo(mymapspot);    
    });

    function RenderSpots(spots) {
        spotMarkers.clearLayers();
        spots.forEach(spot => {
            if (spot.Location) {
                SpotBookingPrompt(spot, true)
                mymapspot.flyTo([parseFloat(spot.Location.Latitude), parseFloat(spot.Location.Longitude)], 16);
            }
        })
    }
</script>
