@model WebApplication.Models.Marina

@{
    ViewData["Title"] = "Marina";
}

@section Styles{
    <link rel="stylesheet" href="~/css/marina.css"/>
}

@if (Model != null)
{
<div class="container-fluid">
    <div class="card-columns">
            <div class="card test-white">
                <img class="card-img" src="~/img/1.webp">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.MarinaId</p>
                </div>
            </div>
    </div>
</div>
}
else
{
    <h1>No marina found</h1>
}