@model WebApplication.Models.BookingLine

@{
    ViewData["Title"] = "Choose Marina";
}

<div class="container">
    <div class="row justify-content-md-center">
        <h1>@ViewData["Title"]</h1>
    </div>

    @await Html.PartialAsync("~/Views/Shared/MarinaMapPromptPartial.cshtml", Model)

</div>


