.card {
    margin-top: 3rem;
}

.card-header {
    color: white;
    background-color: azure;
}

.btn {
    background-color: #6a983c;
    color: white;
}

#Total {
    position: fixed;
}

#checkbox {
    width: 20px;
    height: 20px;
}