.card {
    margin-top: 3rem;
}

.card-header {
    color: white;
    background-color: azure;
}

#Total {
    position: fixed;
}

#CheckBox {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

#Top {
    display: flex;
    align-items: baseline;
}

.fa-trash {
    text-decoration: none;
    color: #373a3c;
}

@media (min-width: 973px) {
    .container {
        max-width: 75%;
    }
}